<li>
  <%= gravatar_for user, size: 50 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    <%= form_for user, method: :delete, data: { confirm: "You sure?" } do |f| %>
      <%= f.submit 'Delete' %>
    <% end %>
     <%#= link_to "delete", user_path(user), method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>