<title><%#= full_title(yield(:title)) #%></title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag    'application', media: 'all',
                                        'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--[if lt IE 9]>
<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
</script>
<![endif]-->