<!DOCTYPE html>
<html>
    <head>
        <%= render 'layouts/rails_default' %>
    </head>
    <body>
        <%= render 'layouts/header' %>

        <div class="container">
            <% flash.each do |message_type, message| %>
                 <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
            <% end %>
            <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
        <%= debug(params) if Rails.env.development? %>
    </body>
</html>